.ayah {
    padding: 0 .5em;
    display: inline-block;
    position: relative;
  }

  .ayah::after {
    content: "\06DD";
    display: block;
    position: absolute;
    font-size: 1.9em;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    
  }
  .container{
    text-align: center;
  }
  h1{
      color: green;
  }
  .custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 99999999999;
    max-height: 100vh;
    overflow: auto;
  }